*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none
}


.container__main{
  width: 100vw;
  height: 100vh;
  
}
section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container__books{
  display: grid;
  width: 100%;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

}
.image__book{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.container__text{
  text-align: center;
}

.icon__plus{
  position: absolute;
  bottom: 20px;
  right: 50px;
  cursor: pointer;
}