*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none
}
body{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: url('background.webp');
  background-size: cover ;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
}

.section__landbook{
  width: 100%;
  height: 100%;
  
}
.section__landbook-text{
  background-color: #ffffff84;
  border-radius: 20px;
  text-align: center;
  font-size: 22px;
}
.section__landbook-text h3{
  font-size: 70px;  
  color: #000000;

}
.section__landbook-text span{
  color: #4266f7;
}
.section__landbook-text p{
  color: #ad4646;
  text-decoration: underline;
}
.bookLi{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.submitButton{
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.submitButton:hover{
  background-color: #0033fd;
  color: #fff;
  transition: all 0.2s ease-in;

}
.form__info{
  color: #3960ff;
  font-size: 19px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.xIcon{
  cursor: pointer;
}
.container__main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__books{
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 50px;
  
}
.blur{
  filter: blur(5px);
}

.container__books{
  display: grid;
  width: 100%;
  box-shadow: 0 10px 40px rgba(0, 37, 157, 0.615), 0 6px 6px rgba(128, 0, 128, 0.3);
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  margin-top: 20px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.438);

}

.container__image{
  width: 180px;
  height: 180px;
  border: 1px dashed transparent;
  transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.container__image:hover{
  border: 3px dashed #6b6b6b;
  transform: scale(1.3);
  transition: all 0.2s ease-in;
}
.image__book{
  width:100%;
  height: 100%;
  max-width: 170px;
  max-height: 170px;
  object-fit: contain;
}

.container__icon{
  position: absolute;
  top: 0;
  right: 0;
}
.container__icon-update{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.container__text{
  text-align: center;
}

.title{
    color: #0033ffc4;
    padding: 5px;
    border-radius: 20px;
    font-size: 23px;
    font-weight: 700;
    width: fit-content;
    margin: 0 auto;
}

.author {
  background-color: #ffffff84;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  padding: 2px 5px;
}
.genre__book{
  color: #0033fd;
}
.icon__plus{
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  transition: background-color 0.8s ease;
  position: absolute;
  top: 0px;
  right: -20px;
}

.icon__plus:hover{
  background-color: #0033ff;
  transition: background-color 0.3s ease;
}


.icon__update:hover{
  background-color: #0033ff;
  transition: background-color 0.3s ease;
}


.article__form{
  position: absolute;
  z-index: 50;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  width: 600px;
  padding: 30px;
  border-radius: 20px;
}



.inputForm{
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  margin: 10px 0 ;
  outline: none;
  border: 4px solid transparent;
  font-size: 15px;
}
.inputForm:hover{
  background-color: #fff; /* Color de fondo del elemento */
  box-shadow: 0 0 0 5px rgba(0, 0, 255, 0.5);
}
.inputForm:focus{
  border: 4px solid #004cd0;  
  transition: border 0.3s ease;

}

.created__title h4{
  color: #00ce67;
  font-size: 20px;

}